:--grid{
  lost-utility: clearfix;
}

:--grid .grid-item{
  box-sizing: border-box;
}

@media (--screen-small){
  /* Basic */
  .grid-2 .grid-item{ lost-column: 1/2; }
  .grid-3 .grid-item{ lost-column: 1/3; }
  .grid-4 .grid-item{ lost-column: 1/4; }

  /* Offset */
  .grid-2 .grid-item.offset-1{ lost-move: 1/2; }

  .grid-3 .grid-item.offset-1{ lost-move: 1/3; }
  .grid-3 .grid-item.offset-2{ lost-move: 2/3; }

  .grid-4 .grid-item.offset-1{ lost-move: 1/4; }
  .grid-4 .grid-item.offset-2{ lost-move: 2/4; }
  .grid-4 .grid-item.offset-3{ lost-move: 3/4; }
}

@media (--screen-medium){
  /* Basic */
  .grid-5 .grid-item{ lost-column: 1/5; }
  .grid-6 .grid-item{ lost-column: 1/6; }
  .grid-7 .grid-item{ lost-column: 1/7; }
  .grid-8 .grid-item{ lost-column: 1/8; }

  /* Offset */
  .grid-5 .grid-item.offset-1{ lost-move: 1/5; }
  .grid-5 .grid-item.offset-2{ lost-move: 2/5; }
  .grid-5 .grid-item.offset-3{ lost-move: 3/5; }
  .grid-5 .grid-item.offset-4{ lost-move: 4/5; }

  .grid-6 .grid-item.offset-1{ lost-move: 1/6; }
  .grid-6 .grid-item.offset-2{ lost-move: 2/6; }
  .grid-6 .grid-item.offset-3{ lost-move: 3/6; }
  .grid-6 .grid-item.offset-4{ lost-move: 4/6; }
  .grid-6 .grid-item.offset-5{ lost-move: 5/6; }

  .grid-7 .grid-item.offset-1{ lost-move: 1/7; }
  .grid-7 .grid-item.offset-2{ lost-move: 2/7; }
  .grid-7 .grid-item.offset-3{ lost-move: 3/7; }
  .grid-7 .grid-item.offset-4{ lost-move: 4/7; }
  .grid-7 .grid-item.offset-5{ lost-move: 5/7; }
  .grid-7 .grid-item.offset-6{ lost-move: 6/7; }

  .grid-8 .grid-item.offset-1{ lost-move: 1/8; }
  .grid-8 .grid-item.offset-2{ lost-move: 2/8; }
  .grid-8 .grid-item.offset-3{ lost-move: 3/8; }
  .grid-8 .grid-item.offset-4{ lost-move: 4/8; }
  .grid-8 .grid-item.offset-5{ lost-move: 5/8; }
  .grid-8 .grid-item.offset-6{ lost-move: 6/8; }
  .grid-8 .grid-item.offset-7{ lost-move: 7/8; }
}

@media (--screen-large){
  /* Basic */
  .grid-9 .grid-item{ lost-column: 1/9; }
  .grid-10 .grid-item{ lost-column: 1/10; }
  .grid-11 .grid-item{ lost-column: 1/11; }
  .grid-12 .grid-item{ lost-column: 1/12; }

  /* Offset */
  .grid-9 .grid-item.offset-1{ lost-move: 1/9; }
  .grid-9 .grid-item.offset-2{ lost-move: 2/9; }
  .grid-9 .grid-item.offset-3{ lost-move: 3/9; }
  .grid-9 .grid-item.offset-4{ lost-move: 4/9; }
  .grid-9 .grid-item.offset-5{ lost-move: 5/9; }
  .grid-9 .grid-item.offset-6{ lost-move: 6/9; }
  .grid-9 .grid-item.offset-7{ lost-move: 7/9; }
  .grid-9 .grid-item.offset-8{ lost-move: 8/9; }

  .grid-10 .grid-item.offset-1{ lost-move: 1/10; }
  .grid-10 .grid-item.offset-2{ lost-move: 2/10; }
  .grid-10 .grid-item.offset-3{ lost-move: 3/10; }
  .grid-10 .grid-item.offset-4{ lost-move: 4/10; }
  .grid-10 .grid-item.offset-5{ lost-move: 5/10; }
  .grid-10 .grid-item.offset-6{ lost-move: 6/10; }
  .grid-10 .grid-item.offset-7{ lost-move: 7/10; }
  .grid-10 .grid-item.offset-8{ lost-move: 8/10; }
  .grid-10 .grid-item.offset-9{ lost-move: 9/10; }

  .grid-11 .grid-item.offset-1{ lost-move: 1/11; }
  .grid-11 .grid-item.offset-2{ lost-move: 2/11; }
  .grid-11 .grid-item.offset-3{ lost-move: 3/11; }
  .grid-11 .grid-item.offset-4{ lost-move: 4/11; }
  .grid-11 .grid-item.offset-5{ lost-move: 5/11; }
  .grid-11 .grid-item.offset-6{ lost-move: 6/11; }
  .grid-11 .grid-item.offset-7{ lost-move: 7/11; }
  .grid-11 .grid-item.offset-8{ lost-move: 8/11; }
  .grid-11 .grid-item.offset-9{ lost-move: 9/11; }
  .grid-11 .grid-item.offset-10{ lost-move: 10/11; }

  .grid-12 .grid-item.offset-1{ lost-move: 1/12; }
  .grid-12 .grid-item.offset-2{ lost-move: 2/12; }
  .grid-12 .grid-item.offset-3{ lost-move: 3/12; }
  .grid-12 .grid-item.offset-4{ lost-move: 4/12; }
  .grid-12 .grid-item.offset-5{ lost-move: 5/12; }
  .grid-12 .grid-item.offset-6{ lost-move: 6/12; }
  .grid-12 .grid-item.offset-7{ lost-move: 7/12; }
  .grid-12 .grid-item.offset-8{ lost-move: 8/12; }
  .grid-12 .grid-item.offset-9{ lost-move: 9/12; }
  .grid-12 .grid-item.offset-10{ lost-move: 10/12; }
  .grid-12 .grid-item.offset-11{ lost-move: 11/12; }
}