:root{
  --colored-effect-space: 5px;
}

.header-home :--heading{
  color: var(--gray-light);
  text-align: center;
}

@media(--size-xs){
  .header-home{
    background-image: linear-gradient(to right, var(--brand-primary) 25%, var(--brand-secundary) 25%, var(--brand-secundary) 50%, var(--brand-tertiary) 50%, var(--brand-tertiary) 75%, var(--brand-quaternary) 75%, var(--brand-quaternary) 100%);
  }

  .header-home :--heading{
    text-shadow: 0 0 10px rgba(0,0,0,.8);
  }
}

@media(--size-sm){
  .header-home :--heading{
    text-shadow: 
    0 calc(var(--colored-effect-space)*1) var(--brand-primary), 
    0 calc(var(--colored-effect-space)*2) var(--brand-secundary), 
    0 calc(var(--colored-effect-space)*3) var(--brand-tertiary), 
    0 calc(var(--colored-effect-space)*4) var(--brand-quaternary);
    font-size: 4em;
    margin-bottom: calc(var(--space-large)*2); 
  }
}