html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}

html,
body{
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

a:--over {
  outline-width: 0;
}

img{
  max-width: 100%;
  border-style: none;
}

h1{
  font-size: 2em;
}

:--heading{
  margin: var(--space-base) 0;
}

small {
  font-size: 80%;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--gray-light);
  margin: 1em 0;
  padding: 0; 
}

p{
  margin-top: 0;
}