@font-face {
    font-family : var(--font-base);
    font-path   : url('../fonts/Roboto-Regular-webfont.eot');
    font-weight : var(--weight-base);
    font-style  : normal;
}

@font-face {
    font-family : var(--font-base);
    font-path   : url('../fonts/Roboto-Light-webfont.eot');
    font-weight : var(--weight-light);
    font-style  : normal;
}

@font-face {
    font-family : var(--font-base);
    font-path   : url('../fonts/Roboto-Medium-webfont.eot');
    font-weight : var(--weight-bold);
    font-style  : normal;
}

@font-face {
    font-family : var(--font-icon);
    font-path   : url('../fonts/icomoon.eot?p6w75j');
    font-weight : normal;
    font-style  : normal;
}


html,
body{
  font-family: var(--font-base);
  font-weight: var(--weight-base);
}

p{
  margin-bottom: var(--space-base);
}

hr{
  background-color: var(--gray-light);
}

a{
  text-decoration : none;
  color           : var(--brand-primary);
  transition      : var(--transition-base);
}

a:--over{
  color: color(var(--brand-primary) lightness(40%));
}