.container{
  lost-center: 100%;
  padding-right: var(--space-base);
  padding-left: var(--space-base);
}

@media (--size-sm){
  .container{
    lost-center: 544px;
  }
}

@media (--size-md){
  .container{
    lost-center: 768px;
  }
}

@media (--size-lg){
  .container{
    lost-center: 992px;
  }
}

@media (--size-xl){
  .container{
    lost-center: 1200px;
  }
}