.footer-home{
  width            : 100%;
  box-sizing       : border-box;
  background-color : var(--gray-base);
  padding          : var(--space-large) 0;
  text-align       : center;
  color            : var(--gray-dark);
}

@media (--size-sm){
  .footer-home{
    position : absolute;
    left     : 0;
    bottom   : 0;
    height   : 70px;
  }
}